.slideshow__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-height: 1240px;
  position: relative;
  &__img {
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
  }
  &__txt {
    position: absolute;
    color: white;
    right: 50%;
    bottom: 24px;
    font-size: 18px;
  }
  & .fa-chevron-right,
  .fa-chevron-left {
    position: absolute;
    color: white;
    font-size: 68px;
    top: 185px;
    cursor: pointer;
  }
  & .fa-chevron-left {
    left: 25px;
  }
  & .fa-chevron-right {
    right: 25px;
  }
}

@media screen and (max-width: 800px) {
  .slideshow__container {
    &__img {
      height: 255px;
    }
    &__txt {
      display: none;
    }
    & .fa-chevron-left, .fa-chevron-right {
      font-size: 30px;
      top: 110px;
    }
    & .fa-chevron-left {
      left: 10px;
    }
    & .fa-chevron-right {
      right: 10px;
    }
  }
}