
@import './header.scss';
@import './footer.scss';


$primary-color: #ff6060;
$secondary-color: #e3e3e3;

p,
h2,
ul,
body {
  margin: 0;
}

li {
  list-style: none;
}

#root {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  box-sizing: border-box;
  margin: 0 auto;
}

.content {
  padding: 0 50px;
}

@media screen and (max-width: 1440px) {
  .content {
    padding: 0 20px;
    margin: 0 auto;
  }
}